.main-color-box {
  width: 300px;
  height: 200px;
  border: 1px solid black;
  border-radius: 15px;
  margin: 0px auto;
  margin-top: 15px;
  display: flex;
}

.side-color-box {
  width: 180px;
  height: 120px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
}

.pair-color-box {
  width: 150px;
  height: 200px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 0px;
  margin: 0px auto;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}

.pair-color-box-left {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-right: 0px solid black;
  border-left: 1px solid black;
} 
.pair-color-box-right {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-left: 0px solid black;
  border-right: 1px solid black;
}

.pair-side-color-box {
  width: 90px;
  height: 120px;
  border: 1px solid black;
  border-radius: 0px;
  display: block;
}
.pair-side-color-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: 0px solid black;
  border-left: 1px solid black;
}

.pair-side-color-right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: 0px solid black;
  border-right: 1px solid black;
}

.meme-box {
  width: 300px;
  height: 196.5px;
  border: 1px solid black;
  border-radius: 15px;
  margin: 0px auto;
  display: block;
}

.center-text {
  text-align: center;
}

button {
  margin-top: 15px;
  margin-left: 2px;
  margin-right: 2px;
  padding: 10px 16px;
  font-size: 16px;
  border-radius: 15px;
  border: 1px solid #555555;
}

.sortable-list {
  display: flex;
  flex-direction: column; /* Keeps items in a column */
  gap: 0px;
  align-items: center;  /* Centers list items */
  border-radius: 5px;
}

/* .sortable-list li centers the color_vote.position numbers */
.sortable-list li { 
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: sans-serif;
  background-color: #E6E6E6
}


  
  /*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
